:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #fff;
  --primary-black-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* ============= COMPONENTS ============= */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.menu .current-page-item {
  color: var(--accent-color);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.title {
  font-size: 36px;
  line-height: 1.17;
}
/* ============= END OF COMPONENTS ============= */

/* ============= HEADER ============= */
.header-logo-decor {
  color: var(--primary-black-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* ============= END OF HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* ============= END OF HERO ============= */

/* ============= ADVANTAGES ============= */
.advantages-list-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-list-item-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* ============= END OF ADVANTAGES ============= */

/* ============= SERVICES ============= */
/* ============= END OF SERVICES ============= */

/* ============= TEAM ============= */
.team {
  background-color: #f5f4fa;
}

.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-item-description {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
/* ============= END OF TEAM ============= */

/* ============= WORKS ============= */
.works-filter-btn {
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #f5f4fa;
  cursor: pointer;
}

.works-filter-btn:hover,
.works-filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.works-list-link-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.works-list-link-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
/* ============= END OF WORKS ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: #2f303a;
}

.footer-logo-decor {
  color: var(--primary-white-color);
}

.address-contacts-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-postal-link {
  color: var(--primary-white-color);
}

.address-mail-link,
.address-tel-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ============= END OF FOOTER ============= */ ;
